<template name='live_users'>
  {{> snapshot_recorder}}
  <div style='display:inline-block'>
    <div style='float:left;;margin-right:10px;'>
      <div>
        <img class='snapshot {{user.effect}}' height='92' width='116' id='user-snapshot'/>
      </div>
    </div>
    {{#each otherUsers}}
      <div style='float:left;margin-right:10px;'>
        <img src='{{snapshot}}' class='snapshot {{effect}}' id='{{_id}}' height='{{picHeight}}' width='{{picWidth}}' title='{{user.profile.name}}'/>
      </div>
    {{/each}}
  </div>
</template>
